<div class="container">
  <h2>New user</h2>
  <form (submit)="createPlayer()" #playerForm="ngForm">
    <!-- picture -->
    <div class="form-group">
      <label>Select profile pic: </label>
      <input type="file" (change)="onImageChanged($event)">
      <img [src]="previewImgUrl" class="player-pic">
    </div>

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="John" required [(ngModel)]="model.firstName" #firstName="ngModel">
    </div>
    <div [hidden]="firstName.valid || firstName.pristine"
      class="alert alert-danger">
        Enter first name.
    </div>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required [(ngModel)]="model.lastName" #lastName="ngModel">
    </div>
    <div [hidden]="lastName.valid || lastName.pristine"
      class="alert alert-danger">
        Enter last name.
    </div>

    <div class="form-group">
      <label for="email">E-Mail:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="john.doe@test.com" required [(ngModel)]="model.email" #email="ngModel">
    </div>
    <div [hidden]="email.valid || email.pristine"
      class="alert alert-danger">
        Enter email address.
    </div>

    <div class="form-group">
      <label for="userName">User name:</label>
      <input type="text" class="form-control" id="userName" name="userName" placeholder="joe69" required [(ngModel)]="model.userName" #userName="ngModel">
    </div>
    <div [hidden]="userName.valid || userName.pristine"
      class="alert alert-danger">
        Enter user name.
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="model.password" #password="ngModel">
    </div>
    <div [hidden]="password.valid || password.pristine"
      class="alert alert-danger">
        Enter password.
    </div>
    

    <div class="form-group">
      <label for="role">Role: </label>
      <select class="form-control" name="role" [(ngModel)]="model.roleId" required #role="ngModel">
        <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
      </select>
    </div>
    <div [hidden]="role.valid || role.pristine"
      class="alert alert-danger">
        Select role for user.
    </div>

    <div class="form-group">
      <label>Attendance: </label>
      <div class="checkbox">
        <label><input type="checkbox" id="isMonday" name="isMonday" [value]="attendanceEnum.Monday"
                      (change)="updateAttendance($event)">Monday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isTuesday" name="isTuesday" [value]="attendanceEnum.Tuesday"
                      (change)="updateAttendance($event)">Tuesday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isWednesday" name="isWednesday" [value]="attendanceEnum.Wednesday"
                      (change)="updateAttendance($event)">Wednesday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isThursday" name="isThursday" [value]="attendanceEnum.Thursday"
                      (change)="updateAttendance($event)">Thursday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isFriday" name="isFriday" [value]="attendanceEnum.Friday"
                      (change)="updateAttendance($event)">Friday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isSaturday" name="isSaturday" [value]="attendanceEnum.Saturday"
                      (change)="updateAttendance($event)">Saturday</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id="isSunday" name="isSunday" [value]="attendanceEnum.Sunday"
                      (change)="updateAttendance($event)">Sunday</label>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="!playerForm.form.valid" type="submit" class="btn btn-primary">Save</button>
    </div>

  </form>
</div>